aiohttp
aiohttp_cors
python-socketio
kubernetes
google-adk==1.5.0
google-cloud-spanner
google-cloud-container
google-cloud-run
google-api-python-client
ruamel.yaml
scikit-learn
pandas
numpy
a2a-sdk==0.2.*