**/playbooks/artifacts
**/playbooks/extravars
**/playbooks/inventory
**/playbooks/env
**/__pycache__
.venv
.vscode
launch.json
**/networkagent.json
**/google-compute
**/google-compute.pub
**/environment/monitoring.yaml
**/environment/networks.yaml
**/environment/configconnector.yaml
**/environment/bigquery.yaml
**/operator/deployment.yaml
**/tools/deployment.yaml
**/networkagent/deployment.yaml
**/sample-services/customersites/*.yaml

