apiVersion: spanner.cnrm.cloud.google.com/v1beta1
kind: SpannerInstance
metadata:
  labels:
    kind: spanner-instance # Workaround to deploy instance first and change the edition  
  name: {{GOOGLE_SPANNER_INSTANCE}}
  annotations:
    cnrm.cloud.google.com/project-id: {{GOOGLE_PROJECT}}
spec:
  resourceID: {{GOOGLE_SPANNER_INSTANCE}}
  config: regional-{{GOOGLE_REGION}}
  displayName: Network Topology
  processingUnits: 100
---
apiVersion: spanner.cnrm.cloud.google.com/v1beta1
kind: SpannerDatabase
metadata:
  labels:
    kind: spanner-database  # Workaround to deploy instance first and change the edition
  name: {{GOOGLE_SPANNER_DATABASE}}
  annotations:
    cnrm.cloud.google.com/project-id: {{GOOGLE_PROJECT}}
spec:
  resourceID: {{GOOGLE_SPANNER_DATABASE}}
  instanceRef:
    name: {{GOOGLE_SPANNER_INSTANCE}}
  ddl:
  - "CREATE TABLE NetworkNode (
       id STRING(36) NOT NULL,
       kind STRING(MAX),
       name STRING(MAX),
       display_name STRING(MAX),
       self_link STRING(MAX),
       status STRING(25),
       node_property JSON
    ) PRIMARY KEY(id)"
  - "CREATE TABLE ResourceConnection (
       id STRING(36) NOT NULL,
       to_id STRING(36) NOT NULL,
       connection_property JSON,
       CONSTRAINT FK_RConnectionToNode FOREIGN KEY (to_id) REFERENCES NetworkNode (id)
    ) PRIMARY KEY(id, to_id)"
  - "CREATE TABLE NetworkConnection (
       id STRING(36) NOT NULL,
       to_id STRING(36) NOT NULL,
       connection_property JSON
    ) PRIMARY KEY(id, to_id)"
  - "CREATE TABLE KgResourceDescriptionNode (
       id STRING(36) NOT NULL,
       content STRING(MAX),
       embedding ARRAY<FLOAT64>
    ) PRIMARY KEY (id)"
  - "CREATE OR REPLACE PROPERTY GRAPH networkGraph
       NODE TABLES (NetworkNode)
       EDGE TABLES (
         NetworkConnection
           SOURCE KEY (id) REFERENCES NetworkNode(id)
           DESTINATION KEY (to_id) REFERENCES NetworkNode(id)
           LABEL isConnectedTo,
         ResourceConnection
           SOURCE KEY (id) REFERENCES NetworkNode(id)
           DESTINATION KEY (to_id) REFERENCES NetworkNode(id)
           LABEL Manages
    )"