# Copyright 2024-2025 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
apiVersion: spanner.cnrm.cloud.google.com/v1beta1
kind: SpannerInstance
metadata:
  labels:
    kind: spanner-instance # Workaround to deploy instance first and change the edition  
  name: {{GOOGLE_SPANNER_INSTANCE}}
  namespace: {{GOOGLE_NAMESPACE}}
  annotations:
    cnrm.cloud.google.com/project-id: {{GOOGLE_PROJECT}}
spec:
  resourceID: {{GOOGLE_SPANNER_INSTANCE}}
  config: regional-{{GOOGLE_REGION}}
  displayName: Network Topology
  processingUnits: 100
---
apiVersion: spanner.cnrm.cloud.google.com/v1beta1
kind: SpannerDatabase
metadata:
  labels:
    kind: spanner-database  # Workaround to deploy instance first and change the edition
  name: {{GOOGLE_SPANNER_DATABASE}}
  namespace: {{GOOGLE_NAMESPACE}}
  annotations:
    cnrm.cloud.google.com/project-id: {{GOOGLE_PROJECT}}
spec:
  resourceID: {{GOOGLE_SPANNER_DATABASE}}
  instanceRef:
    name: {{GOOGLE_SPANNER_INSTANCE}}
  ddl:
  - "CREATE TABLE NetworkNode (
       id STRING(36) NOT NULL,
       kind STRING(MAX),
       name STRING(MAX),
       display_name STRING(MAX),
       self_link STRING(MAX),
       status STRING(25),
       node_property JSON
    ) PRIMARY KEY(id)"
  - "CREATE TABLE ResourceConnection (
       id STRING(36) NOT NULL,
       to_id STRING(36) NOT NULL,
       connection_property JSON,
       CONSTRAINT FK_RConnectionToNode FOREIGN KEY (to_id) REFERENCES NetworkNode (id)
    ) PRIMARY KEY(id, to_id)"
  - "CREATE TABLE NetworkConnection (
       id STRING(36) NOT NULL,
       to_id STRING(36) NOT NULL,
       connection_property JSON
    ) PRIMARY KEY(id, to_id)"
  - "CREATE TABLE KgResourceDescriptionNode (
       id STRING(36) NOT NULL,
       content STRING(MAX),
       embedding ARRAY<FLOAT64>
    ) PRIMARY KEY (id)"
  - "CREATE TABLE KgLogEntryNode (
       id STRING(17) NOT NULL,
       severity STRING(16) NOT NULL,
       source STRING(MAX),
       message STRING(MAX),
       timestamp TIMESTAMP,
       content STRING(MAX),
       embedding ARRAY<FLOAT64>
    ) PRIMARY KEY (id)"
  - "CREATE TABLE NetworkMetrics (
        id STRING(MAX) NOT NULL,
        kind STRING(MAX) NOT NULL,
        name STRING(MAX) NOT NULL,
        timestamp INT64 NOT NULL,
        metrics JSON
    ) PRIMARY KEY (id, timestamp)"
  - "CREATE TABLE ServicePerformance (
        id STRING(36) NOT NULL,
        service_type STRING(MAX) NOT NULL,
        response_time_ms FLOAT64,
        timestamp INT64 NOT NULL,
        userid STRING(MAX),
        error STRING(MAX),
        node STRING(MAX)
      ) PRIMARY KEY (id)"
  - "CREATE TABLE Incident (
        id STRING(MAX) NOT NULL,
        recordedTimestamp INT64 NOT NULL,
        agentTaskId String(MAX) NOT NULL,
        issue JSON NOT NULL,
        strategy JSON,
        root_cause String(MAX),
        resolution String(MAX),
        resolvedTimestamp INT64
      ) PRIMARY KEY (id)"
  - "CREATE OR REPLACE PROPERTY GRAPH networkGraph
       NODE TABLES (NetworkNode)
       EDGE TABLES (
         NetworkConnection
           SOURCE KEY (id) REFERENCES NetworkNode(id)
           DESTINATION KEY (to_id) REFERENCES NetworkNode(id)
           LABEL isConnectedTo,
         ResourceConnection
           SOURCE KEY (id) REFERENCES NetworkNode(id)
           DESTINATION KEY (to_id) REFERENCES NetworkNode(id)
           LABEL Manages
    )"
  - "CREATE TABLE AgentTrace (
       id STRING(36) NOT NULL,
       event_type STRING(MAX) NOT NULL,
       trace_id STRING(MAX) NOT NULL,
       span_id STRING(MAX) NOT NULL,
       parent_span_id STRING(MAX),
       operation_name STRING(MAX) NOT NULL,
       timestamp TIMESTAMP NOT NULL OPTIONS (allow_commit_timestamp=true),
       details JSON
    ) PRIMARY KEY(id)"
  - "CREATE CHANGE STREAM AgentTraceStream
       FOR AgentTrace
       OPTIONS (
         retention_period = '7d',
         value_capture_type = 'NEW_ROW'
       )"
