---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeNetwork
metadata:
  name: singapore
  labels:
    customer: acme
    graph: "true"
spec:
  routingMode: REGIONAL
  autoCreateSubnetworks: false
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeSubnetwork
metadata:
  name: singapore
  labels:
    customer: acme
    graph: "true"
spec:
  ipCidrRange: 10.0.80.0/24
  region: {{GOOGLE_REGION}}
  description: singapore Network
  networkRef:
    name: singapore
  secondaryIpRange:
  - rangeName: servicesrange
    ipCidrRange: 10.2.0.0/16
  - rangeName: clusterrange
    ipCidrRange: 10.3.0.0/16
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeFirewall
metadata:
  name: singapore-allowed
  labels:
    customer: acme
    graph: "true"
spec:
  allow:
    - protocol: tcp
      ports:
       - "0-65535"
    - protocol: udp
      ports:
       - "0-65535"
    - protocol: icmp
  networkRef:
    name: singapore
  direction: INGRESS
  sourceRanges:
    - 0.0.0.0/0
---
apiVersion: compute.cnrm.cloud.google.com/v1beta1
kind: ComputeInstance
metadata:
  annotations:
    cnrm.cloud.google.com/allow-stopping-for-update: "true"
  name: singapore-app1
  labels:
    customer: acme
    graph: "true"
spec:
  machineType: e2-standard-2
  zone: {{GOOGLE_ZONE}}
  bootDisk:
    initializeParams:
      size: 50
      type: pd-ssd
      sourceImageRef:
        external: ubuntu-os-cloud/ubuntu-2204-lts
  networkInterface:
    - subnetworkRef:
        external: "https://www.googleapis.com/compute/v1/projects/{{GOOGLE_PROJECT}}/regions/{{GOOGLE_REGION}}/subnetworks/mgmt-subnet"
    - subnetworkRef:
        name: singapore
  canIpForward: true
  metadataStartupScript: "sudo apt-get update;sudo apt-get install -yq python3;sudo ip route add 10.0.40.0/24 via 10.0.80.1;sudo ip route add 10.0.70.0/24 via 10.0.80.1;sudo ip route add 10.0.60.0/24 via 10.0.80.1;sudo ip route add 10.0.70.0/24 via 10.0.80.1"
  metadata:
    - key: ssh-keys
      value: {{GOOGLE_USER}}:{{GOOGLE_SSH_KEY}}
