apiVersion: container.cnrm.cloud.google.com/v1beta1
kind: ContainerCluster
metadata:
  name: dublin-cluster
spec:
  description: Dublin Cluster
  enableAutopilot: false
  location: {{GOOGLE_REGION}}
  initialNodeCount: 5
  defaultMaxPodsPerNode: 16
  releaseChannel:
    channel: STABLE
  workloadIdentityConfig:
    workloadPool: {{GOOGLE_PROJECT}}.svc.id.goog
  networkingMode: VPC_NATIVE
  ipAllocationPolicy:
    servicesSecondaryRangeName: servicesrange
    clusterSecondaryRangeName: clusterrange
  networkRef:
    name: dublin
    namespace: infrastructure
  subnetworkRef:
    name: dublin
    namespace: infrastructure
  nodeLocations:
    - {{GOOGLE_ZONE}}
