---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: networkagent
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      application: networkagent
  template:
    metadata:
      labels:
        application: networkagent
    spec:
      containers:
      - name: networkagent
        image: {{GOOGLE_REGION}}-docker.pkg.dev/{{GOOGLE_PROJECT}}/networkagent/networkagent:latest
        imagePullPolicy: Always
        env:
        - name: PROJECT
          value: {{GOOGLE_PROJECT}}
        - name: REGION
          value: {{GOOGLE_REGION}}
        - name: ZONE
          value: {{GOOGLE_ZONE}}
        - name: WEBAPPS_PWD
          value: {{WEBAPPS_PWD}}
---
apiVersion: v1
kind: Service
metadata:
  name: networkagent-lb-service
spec:
  type: LoadBalancer
  selector:
    application: networkagent
  ports:
  - name: web
    protocol: TCP
    port: 8080
    targetPort: 8080
