apiVersion: apps/v1
kind: Deployment
metadata:
  name: networkagent
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      application: networkagent
  template:
    metadata:
      labels:
        application: networkagent
    spec:
      containers:
      - name: dashboard
        image: {{GOOGLE_REGION}}-docker.pkg.dev/{{GOOGLE_PROJECT}}/{{GOOGLE_REPO}}/networkagent:latest
        imagePullPolicy: Always
        env:
        - name: GOOGLE_ORG_NAME
          value: "{{GOOGLE_ORG_NAME}}"
        - name: GOOGLE_PROJECT
          value: {{GOOGLE_PROJECT}}
        - name: GOOGLE_REGION
          value: {{GOOGLE_REGION}}
        - name: GOOGLE_ZONE
          value: {{GOOGLE_ZONE}}
        - name: GOOGLE_VM_USER
          value: {{GOOGLE_VM_USER}}
        - name: WEBAPPS_PWD
          value: {{WEBAPPS_PWD}}
        - name: WEBAPPS_LOGIN
          value: {{WEBAPPS_LOGIN}}
        - name: GITEA_URL
          value: "https://{{gitea_host}}:3000"
