langchain==0.3.13
langchain-core==0.3.28
langchain-community==0.3.13
langchain-google-vertexai==2.0.9
langgraph==0.2.60
langchain-google-spanner
kubernetes
google-cloud-spanner
google-cloud-container
google-api-python-client
ruamel.yaml
streamlit
st-link-analysis
scikit-learn
st-cytoscape
pandas
numpy
streamlit-autorefresh
py-gitea