aiohttp
aiohttp_cors
python-socketio
langchain==0.3.24
langchain-core==0.3.56
langchain-community==0.3.23
langchain-google-vertexai
langgraph==0.4.0
langchain-google-spanner
kubernetes
google-cloud-spanner
google-cloud-container
google-api-python-client
ruamel.yaml
scikit-learn
pandas
numpy
py-gitea