langchain-google-vertexai
langchain-google-genai
langgraph==0.6.7
langchain-mcp-adapters
langchain-google-spanner
google-api-python-client
ruamel.yaml
scikit-learn
pandas
numpy
py-gitea
a2a-sdk==0.2.16
