steps:
- name: 'gcr.io/cloud-builders/docker'
  script: |
    docker build -t {{GOOGLE_REGION}}-docker.pkg.dev/{{GOOGLE_PROJECT}}/{{GOOGLE_REPO}}/networktools:latest .
  automapSubstitutions: true
images:
- '{{GOOGLE_REGION}}-docker.pkg.dev/{{GOOGLE_PROJECT}}/{{GOOGLE_REPO}}/networktools:latest'