aiohttp==3.12.15
aiohttp_cors==0.8.1
google-auth==2.40.3
google-cloud-container==2.59.0
google-cloud-spanner==3.58.0
google-api-python-client==2.183.0
ansible==12.0.0
ansible-runner==2.4.1
kubernetes==33.1.0
ruamel.yaml==0.18.15
