---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: networkoperator-rolebinding-cluster
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-admin
subjects:
  - kind: ServiceAccount
    name: networkoperator-account
    namespace: "automation"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: free5gc-operator
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      application: free5gc-operator
  template:
    metadata:
      labels:
        application: free5gc-operator
    spec:
      serviceAccountName: networkoperator-account
      containers:
      - name: free5gc-operator
        image: {{GOOGLE_REGION}}-docker.pkg.dev/{{GOOGLE_PROJECT}}/{{GOOGLE_REPO}}/networkoperator:latest
        imagePullPolicy: Always
        env:
        - name: BASEDIR
          value: "/operator"
        - name: GOOGLE_PROJECT
          value: {{GOOGLE_PROJECT}}
        - name: GOOGLE_REGION
          value: {{GOOGLE_REGION}}
        - name: GOOGLE_ZONE
          value: {{GOOGLE_ZONE}}
        - name: GOOGLE_USER
          value: {{GOOGLE_USER}}
        - name: FREE5GC
          value: "yes"
        - name: VPN
          value: "yes"
        - name: GRAPH
          value: "yes"

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: gitea-operator
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      application: gitea-operator
  template:
    metadata:
      labels:
        application: gitea-operator
    spec:
      serviceAccountName: networkoperator-account
      containers:
      - name: gitea-operator
        image: {{GOOGLE_REGION}}-docker.pkg.dev/{{GOOGLE_PROJECT}}/{{GOOGLE_REPO}}/networkoperator:latest
        imagePullPolicy: Always
        env:
        - name: BASEDIR
          value: "/operator"
        - name: GOOGLE_PROJECT
          value: {{GOOGLE_PROJECT}}
        - name: GOOGLE_REGION
          value: {{GOOGLE_REGION}}
        - name: GOOGLE_ZONE
          value: {{GOOGLE_ZONE}}
        - name: GOOGLE_USER
          value: {{GOOGLE_USER}}
        - name: WEBAPPS_LOGIN
          value: {{WEBAPPS_LOGIN}}
        - name: WEBAPPS_PWD
          value: "{{WEBAPPS_PWD}}"
        - name: GITEA
          value: "yes"
